.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}

.card-title-text {
  font-size: 22px;
  padding: 0px;
  margin: 0px;
}

.area-button-agregar {
  display: flex;
  flex-direction: row-reverse;
  padding: 0px;
  margin: 0px;
}

.button-agregar {
  display: "flex";
  align-items: center;
  justify-content: center;
  margin: 0px;
}
